<div class="container-fluid">
    <app-header></app-header>

    <div class="card">
        <h5 class="card-header">{{ _tmpIntroHeadline }}</h5>
        <div class="bg">
          <div class="text bg">
            <h1>Take Loan online with Loan-App</h1>
            <h4>Try Loan-App and get Loan in Less Time</h4>
            <!-- <label for="email"></label>
            <input type="email" id="email" placeholder="Enter your email address">
            <button type="button">Start free trial</button> -->
          </div>
          <img src="https://img.freepik.com/free-vector/video-conference-remote-working-flat-illustration-screen-laptop-with-group-colleagues-people-conn_88138-548.jpg?size=626&ext=jpg&uid=R77482775&ga=GA1.2.1887337192.1663664265">
        
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="white" fill-opacity="1" d="M0,192L34.3,170.7C68.6,149,137,107,206,117.3C274.3,128,343,192,411,224C480,256,549,256,617,229.3C685.7,203,754,149,823,128C891.4,107,960,117,1029,122.7C1097.1,128,1166,128,1234,160C1302.9,192,1371,256,1406,288L1440,320L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path>
          </svg>
        </div>
        <div class="card-body">
          <div class="card-title">{{ _tmpIntroDesc }}</div>
          <div class="card-title">{{ _tmpIntroDesc2 }}</div>
          <p class="card-text">{{ _tmpIntroFooter }}</p>
          <a routerLink="/createloan" class="btn btn-info">Create Loan</a>&nbsp;
          <a routerLink="/displayloans" class="btn btn-info">All Loans</a>
        </div>
      </div>

      
</div>



<div>
    <!-- <button routerLink="/createloan">CreateLoan</button> -->
    <!-- <button routerLink="/displayschedule">All Schedules</button> -->
    
</div>